[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.project_arrow
Exec=/usr/bin/ru.auroraos.project_arrow
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=project_arrow
ExecDBus=/usr/bin/ru.auroraos.project_arrow
