[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.tetris
Exec=/usr/bin/ru.auroraos.tetris
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=tetris
ExecDBus=/usr/bin/ru.auroraos.tetris
