[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.Lab9
Exec=/usr/bin/ru.auroraos.Lab9
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=Lab9
ExecDBus=/usr/bin/ru.auroraos.Lab9
