[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.Lab5_last
Exec=/usr/bin/ru.auroraos.Lab5_last
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=Lab5_last
ExecDBus=/usr/bin/ru.auroraos.Lab5_last
